*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #102a4b;
    color: #fff;
}
h1{
    margin: 0 auto;
    width: 400px;
}
.wrapper{
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
}
.wrapper label{
    display: block;
    margin: 0.5em 0;
}
.wrapper label input{
    font-size: 18px;
    padding: 0.5em;
}
.wrapper input[type = "submit"]{
    font-size: 25px;
    color: blue;
    cursor: pointer;
    padding: 10px;
}